@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Inter;
}

body {
    background-image: url(backgroundimg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    user-select: none;

}
nav ul li:hover{
    background-color: rgb(0, 192, 245);
    color:rgb(254, 254, 254);
    
}
nav ul li a:hover{
    color:rgb(0, 0, 0);

}
/* navbar */

nav {
    background-color: rgba(255, 255, 255, 0.874);
    box-shadow: 20px gray;
}

nav div {
    display: flex;
    color: rgb(134, 131, 131);
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    cursor: default;
}

.title {
    font-size: 35px;
    padding: 10px 5px;
}

nav ul {
    display: flex;
    padding: 5px 60px;
    justify-content: space-between;
    align-items: start;
}

nav ul li {
    display: flex;
    align-items: center;
    list-style-type: none;
    color:darkgray;
    border: 2px solid rgb(110, 156, 131);
    border-radius: 10px;
    height: 45px;
    font-size: 35px;
}
nav ul li:hover{
    border: 2px dotted rgb(110, 156, 131);
    
}

nav ul li a {
    padding: 0 10px;
    color:rgb(134, 131, 131);
}
/* footer */

.footer{
    background-color: rgb(10, 4, 45);
    display: flex;
    align-items: center;
    height: 100px;
    font-size: large;
}
.links ul li{
    list-style-type: disc;
padding-top: 15px;    
}
.links ul li a{
    color: antiquewhite;
    padding-left: 20px;
}